@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');

:root {
    font-size: 18px;
    --black: #191919;
    --gray: #3b3b45;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lora', serif;
    padding: 80px 10px;
    color: var(--black)
}

.container {
    width: 100%;
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main {
    margin: auto;
    max-width: 900px;
}

a {
    text-decoration: none;
    color: #206dff
}

a:visited {
    color: #d136ff
}

a:hover,
a:active {
    text-decoration: underline
}

h1 {
    border-bottom: 2px solid var(--gray);
    font-family: 'Lexend Deca', sans-serif;
    font-size: 2.2rem;
}

p.subtitle {
    margin-top: 0;
    text-align: right;
    font-size: 0.9rem;
}

article {
    line-height: 1.7em;
}

h2 {
    border-bottom: 2px solid var(--gray);
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1.6rem;
    line-height: 1em;
    padding-top: 1.8em;
}

p {
    padding: 0.5em 0;
}

code {
    background-color: #e3eaf8;
    padding: 0 0.2em;
    font-family: 'Inconsolata', monospace;
}

strong {
    background-color: #eff547;
    padding: 0.1em 0;
}

a.top {
    float: right;
    margin-left: 0.5em;
    font-size: 0.9rem;
    font-weight: normal;
}

.filelist {
    display: block;
}

.filelist tbody {
    display: block;
}

.filelist tbody tr {
    display: flex;
    justify-content: space-between;
    gap: 1em;
}

.filelist tbody tr td {
    display: block;
    width: 50%;
}

@media screen and (max-width: 550px) {
    .filelist tbody tr {
        display: block;
    }
    .filelist tbody tr td {
        display: inline-block;
        width: auto;
    }
} 

ul,
ol {
    padding: 0 2em;
}

.image {
    margin: 10px 0;
}

.image img {
    display: block;
    width: 100%;
}

.image .caption {
    background-color: var(--black);
    color: white;
    padding: 10px;
    font-size: 0.9em;
    line-height: 1.3em;
}

.image .caption a {
    color: #74a3ff
}

.image .caption a:visited {
    color: #c58cfd
}

footer {
    border-top: 2px solid var(--gray);
}
