@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');

body {
    max-width: 1100px;
    font-family: 'Lora', serif;
    font-size: 18px;
    line-height: 1.7em;
}

@media screen and (min-width: 950px) {
    body {
        margin-left: 100px;
    }
}

h1 {
    border-bottom: 2px solid #3b3b45;
    max-width: 800px;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 35px;
    line-height: 1em;
    padding-top: 2em;
    margin-bottom: 0;
}

p.subtitle {
    margin-top: 0;
    text-align: right;
    font-size: 16px;
}

h2 {
    border-bottom: 2px solid #3b3b45;
    max-width: 800px;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 26px;
    line-height: 1em;
    padding-top: 1.8em;
}

p {
    max-width: 800px;
}

code {
    background-color: #e3eaf8;
    padding: 0 0.25em;
    font-family: 'Inconsolata', monospace;
}


strong {
    background-color: #eff547;
    padding: 0.1em 0;
}

a.top {
    float: right;
    padding-left: 2em;
    font-size: 0.6em;
    font-weight: normal;
}

#filelist {
    display: grid;
    max-width: 40em;
    padding-left: 2.5em;
}

span.fl {
    grid-column-start: 1;
    margin-right: 1em;
}

span.fr {
    grid-column-start: 2;
}

img {
    /* Image will take up full width unless that maxes out its largest dimension */
    width: auto;
    max-width: 100%;
}

ul,
ol {
    max-width: 750px;
    padding-left: 2.5em;
}

p.caption {
    background-color: #191919;
    color: white;
    padding: 0.5em;
    width: calc(90% - 1em);
    margin-left: 8%;
    margin-right: 2%;
    font-size: 16px;
    line-height: 1.3em;
}

p.caption a {
    text-decoration: none;
    color: #74a3ff
}

p.caption a:visited {
    color: #c58cfd
}

p.caption a:hover {
    text-decoration: underline
}

p.caption a:active {
    text-decoration: underline
}

a {
    text-decoration: none;
    color: #206dff
}

a:visited {
    color: #d136ff
}

a:hover {
    text-decoration: underline
}

a:active {
    text-decoration: underline
}

footer {
    border-top: 2px solid #3b3b45;
    max-width: 800px;
    margin-bottom: 100px;
}

footer p {
    margin: 0;
}